* {
    box-sizing: border-box;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 1.2rem 0;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: clamp(12px, 4vw, 18px);
  overflow-x: hidden;
  flex-wrap: wrap;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: black;
}

.article-header {
  font-size: clamp(18px, 4vw, 32px);
}

.digital-collapse {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
    padding: 1.0rem;
    flex: 1;
}

.post-header-date {
    color: #828282;
    margin: 0;
    line-height: 1.5;
    font-size: clamp(12px, 4vw, 18px);
}

.post-header-link {
    margin: 0;
    font-size: clamp(18px, 4vw, 32px);
}

.post-header-link a {
    color: rgb(55, 55, 246);
}

footer {
    border-top: 1px solid #ddd;
    color: #828282;
    padding: 1.2rem 0;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    font-size: clamp(8px, 4vw, 14px);
}

.main-article {
    font-size: clamp(13px, 1.2vw, 17px);
}

.main-article a {
    color: green;
}
